
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        body { font-family: 'Manrope', sans-serif; }
        h1, h2, h3 { font-family: 'Newsreader', serif; }
    

/* вынесено из исходного html */
.page-link-active{ text-decoration: underline; text-underline-offset: 4px; }
